name: Go
on: 
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master
jobs:
  test:
    name: Test
    strategy:
      matrix:
        golang: ["1.15", "1.16"]
        os: ["ubuntu-latest", "macos-latest"]
        module: [".", "./executor/kubernetes", "./errors"]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Remove previous jobs
      uses: rokroskar/workflow-run-cleanup-action@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      # NOTE: Don't stop master or tags jobs since they might be uploading assets and do a partial release
      if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master' && matrix.os == 'ubuntu-latest'"

    - name: Set up Go ${{ matrix.golang }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.golang }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Download golangci-lint
      run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.41.1

    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Lint ${{ matrix.module }} module
      run: $(go env GOPATH)/bin/golangci-lint run --out-format github-actions --timeout=10m --path-prefix ${{ matrix.module }}
      shell: bash
      working-directory: ${{ matrix.module }}

    - name: Test ${{ matrix.module }} module
      run: go test -v ./...
      shell: bash
      working-directory: ${{ matrix.module }}
